{% extends "layout.html" %} {% block title %} Register {% endblock %} {% block
main %}
<style>
    .box {
        background: #ffffff;
        box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        width: 400px;
        transform: translateY(25%);
    }

    .btn {
        font-size: 16px;
        letter-spacing: 2px;
    }

    .register.btn {
        color: #fff;
        background: #00b4d8;
    }

    .register.btn:hover {
        background: #0077b6;
        color: #fff;
    }

    .login.btn {
        color: #1f1f1f;
        border: 1px solid #838383;
    }

    .login.btn:hover {
        border-color: #151515;
    }
</style>

<div class="box position-relative mx-auto p-4">
    <h3 class="mb-5">Register</h3>
    <form class="row g-0" action="/register" method="post">
        <div class="form-floating mb-3">
            <input
                class="form-control"
                id="floatingUsername"
                autocomplete="off"
                autofocus
                type="text"
                name="username"
                placeholder="Username"
                required/>
            <label for="floatingUsername">Username</label>
        </div>
        <div class="form-floating mb-3">
            <input
                class="form-control"
                id="floatingPassword"
                autocomplete="new-password"
                type="password"
                name="password"
                placeholder="Password"
                required/>
            <label for="floatingPassword">Password</label>
        </div>
        <div class="form-floating mb-3">
            <input
                class="form-control"
                id="floatingPasswordConfirmation"
                autocomplete="new-password"
                type="password"
                name="confirmation"
                placeholder="Password"
                required/>
            <label for="floatingPasswordConfirmation">Repeat Password</label>
        </div>
        <button class="register btn my-3 p-2" type="submit">Register</button>
        <h6 class="text-black-50">- or -</h6>
        <a class="login btn my-2 p-2" href="/login">Sign in</a>
    </form>
</div>
{% endblock %}
