{% extends "layout.html" %} {% block title %}Documents {% endblock %} {% block
main %}
<style>
    .box {
        background: #ffffff;
        box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        padding: 2.5rem 1.5rem 1.5rem 1.5rem;
        position: relative;
    }


    .box form button {
        padding: 10px 10px;
        font-size: 16px;
        letter-spacing: 2px;
        color: #ffffff;
        background: #00b4d8;
    }

    .box form button:hover {
        background: #0077b6;
        color: #fff;
    }
</style>

<div class="box mb-5">
    <form class="row g-0" action="/documents" method="post">
        <div class="col-md m-md-2 form-floating mb-3">
            <input
                class="form-control"
                id="floatingDate"
                autocomplete="off"
                autofocus type="text"
                name="dates"
                placeholder="Dates"
                required/>
            <label for="floatingDate">Dates</label>
        </div>
        <div class="col-md m-md-2 form-floating mb-3">
            <select class="form-select" id="floatingCategory" name="category" required>
                <option value="" disabled selected></option>
                <option value="paid_vacation">Paid Vacation</option>
                <option value="unpaid_vacation">Unpaid Vacation</option>
            </select>
            <label for="floatingCategory">Category</label>
        </div>
        <button class="btn col-md m-md-2 mb-3" type="submit">Create</button>
    </form>
</div>

{% if documents %}
<div class="box">
    <table
        class="table table-responsive table-hover caption-top align-middle text-center"
    >
        <caption class="fw-bold">All Documents</caption>
        <thead class="table-dark align-middle">
        <tr>
            <th scope="col" class="px-3">#</th>
            <th scope="col">Creation Time</th>
            <th scope="col">Category</th>
            <th scope="col">File</th>
            <th scope="col" class="px-3">
                Status
            </th>
        </tr>
        </thead>
        <tbody class="table-group-divider">
        {% for document in documents %}
        <tr>
            <th scope="row" class="px-3">{{ loop.index }}</th>
            <th scope="row">{{ document.creation_date }}</th>
            <th scope="row">{{ document.category }}</th>
            <td>
                <a
                    class="link-dark link-offset-3 link-underline-opacity-25 link-underline-opacity-100-hover"
                    href="{{ document.directory }}"
                    target="_blank"
                ><i class="bi bi-link-45deg"></i></a
                >
            </td>
            <td class="px-3">
                <i class="bi bi-circle-fill text-warning"></i>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}


{% endblock %}
