{% extends "layout.html" %} {% block title %}User Details {% endblock %} {%
block main %}
<style>
    .box {
        background: #ffffff;
        box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
    }

    .btn {
        font-size: 16px;
        letter-spacing: 2px;
        color: #fff;
        background: #00b4d8;
    }

    .btn:hover {
        background: #0077b6;
        color: #fff;
    }
</style>

<div class="row justify-content-between">
    <div class="col-md-6 mb-5 mb-md-0">
        <div class="box p-4">
            <h3 class="mb-5">Edit Details</h3>
            <form class="row g-0" action="/user-details" method="post">
                <div class="form-floating mb-3">
                    <input
                        class="form-control"
                        id="floatingFirstName"
                        autocomplete="given-name"
                        autofocus
                        type="text"
                        name="first_name"
                        placeholder="First Name"
                        required
                    />
                    <label for="floatingFirstName">First name</label>
                </div>
                <div class="form-floating mb-3">
                    <input
                        class="form-control"
                        id="floatingLastName"
                        autocomplete="family-name"
                        type="text"
                        name="last_name"
                        placeholder="Last Name"
                        required
                    />
                    <label for="floatingLastName">Last name</label>
                </div>
                <!--Date picker by: https://flatpickr.js.org/-->
                <div class="form-floating mb-3">
                    <input
                        class="form-control"
                        id="dateInput"
                        type="text"
                        autocomplete="off"
                        name="birth_date"
                        placeholder="BirthDate"
                        required
                    />
                    <label for="dateInput">BirthDate</label>
                </div>
                <div class="form-floating mb-3">
                    <input
                        class="form-control"
                        id="floatingDepartment"
                        autocomplete="organization-title"
                        type="text"
                        name="department"
                        placeholder="Department"
                        required
                    />
                    <label for="floatingDepartment">Department</label>
                </div>
                <div class="form-floating mb-3">
                    <input
                        class="form-control"
                        id="floatingMail"
                        autocomplete="email"
                        type="text"
                        name="email"
                        placeholder="E-mail"
                        required
                    />
                    <label for="floatingMail">E-mail</label>
                </div>
                <div class="form-floating mb-3">
                    <input
                        class="form-control"
                        id="floatingPhone"
                        autocomplete="tel"
                        type="text"
                        name="phone_number"
                        placeholder="Phone Number"
                        required
                    />
                    <label for="floatingPhone">Phone Number</label>
                </div>
                <button class="btn mt-3 mb-2 p-2" type="submit">Edit details</button>
            </form>
        </div>
    </div>

    <div class="col-md-6">
        <div class="box p-4">
            <h3 class="mb-5">Current Details</h3>
            <div class="row mb-3">
                <div class="col-md-6 text-center text-md-end">First Name</div>
                <div class="col-md-6 text-center text-md-start text-break text-muted">{{ user_details.first_name }}
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6 text-center text-md-end">Last Name</div>
                <div class="col-md-6 text-center text-md-start text-break text-muted">{{ user_details.last_name }}</div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6 text-center text-md-end">Email</div>
                <div class="col-md-6 text-center text-md-start text-break text-muted">{{ user_details.email }}</div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6 text-center text-md-end">Phone Number</div>
                <div class="col-md-6 text-center text-md-start text-break text-muted">{{ user_details.phone_number }}
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6 text-center text-md-end">Birthdate</div>
                <div class="col-md-6 text-center text-md-start text-break text-muted">{{ user_details.birth_date }}
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6 text-center text-md-end">Department</div>
                <div class="col-md-6 text-center text-md-start text-break text-muted">{{ user_details.department }}
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script>
    flatpickr("#dateInput", {
        dateFormat: "Y/m/d",
        minDate: "1900-01",
        maxDate: "today",
        altInput: true,
        defaultDate: "today"
    });
</script>
{% endblock %}
