{% extends "layout.html" %} {% block title %}User Details {% endblock %} {%
block main %}
<style>
    .box {
        background: #ffffff;
        box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        padding: 40px;
    }

    .btn {
        padding: 10px .25rem;
        font-size: 16px;
        letter-spacing: 2px;
        color: #fff;
        background: #00b4d8;
    }

    .btn:hover {
        background: #0077b6;
        color: #fff;
    }

    .box p {
        margin: 10px 0;
    }

    @media (max-width: 767.98px) {
        .mb-md-0 {
            margin-bottom: 2rem !important;
        }
    }
</style>

<div class="row">
    <div class="col-md-6 mb-md-0">
        <div class="box">
            <h3 class="mb-5">Edit Details</h3>
            <form class="row g-0" action="/user-details" method="post">
                <div class="form-floating mb-3">
                    <input
                        class="form-control"
                        id="floatingFirstName"
                        autocomplete="off"
                        autofocus
                        type="text"
                        name="first_name"
                        placeholder="First Name"
                        required
                    />
                    <label for="floatingFirstName">First name</label>
                </div>
                <div class="form-floating mb-3">
                    <input
                        class="form-control"
                        id="floatingLastName"
                        autocomplete="off"
                        type="text"
                        name="last_name"
                        placeholder="Last Name"
                        required
                    />
                    <label for="floatingLastName">Last name</label>
                </div>
                <div class="form-floating mb-3">
                    <input
                        class="form-control"
                        id="dateInput"
                        type="text"
                        autocomplete="off"
                        name="birth_date"
                        placeholder="BirthDate"
                        required
                    />
                    <label class="fixed-label">BirthDate</label>
                </div>
                <div class="form-floating mb-3">
                    <input
                        class="form-control"
                        id="floatingDepartment"
                        autocomplete="off"
                        type="text"
                        name="department"
                        placeholder="Department"
                        required
                    />
                    <label for="floatingDepartment">Department</label>
                </div>
                <div class="form-floating mb-3">
                    <input
                        class="form-control"
                        id="floatingMail"
                        autocomplete="off"
                        type="text"
                        name="email"
                        placeholder="E-mail"
                        required
                    />
                    <label for="floatingMail">E-mail</label>
                </div>
                <div class="form-floating mb-3">
                    <input
                        class="form-control"
                        id="floatingPhone"
                        autocomplete="off"
                        type="text"
                        name="phone_number"
                        placeholder="Phone Number"
                        required
                    />
                    <label for="floatingPhone">Phone Number</label>
                </div>
                <button class="btn mt-3" type="submit">Edit details</button>
            </form>
        </div>
    </div>
    
    <div class="col-md-6">
        <div class="box">
            <h3 class="mb-5">Current Details</h3>
            <p>
                <strong>First name:</strong> {{ user_details.first_name }}
            </p>
            <p><strong>Last name:</strong> {{ user_details.last_name }}</p>
            <p>
                <strong>Birthdate:</strong> {{ user_details.birth_date }}
            </p>
            <p>
                <strong>Department:</strong> {{ user_details.department }}
            </p>
            <p><strong>Email:</strong> {{ user_details.email }}</p>
            <p>
                <strong>Phone number:</strong> {{ user_details.phone_number
                }}
            </p>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script>
    flatpickr("#dateInput", {
        dateFormat: "Y/m/d",
        minDate: "1900-01",
        maxDate: "today",
        altInput: true,
        defaultDate: "today"
    });
</script>
{% endblock %}
